<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://identifiersapi2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>identifiersapi2.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>IdentifiersApi2</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$IdentifiersApi2</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="IdentifiersDB" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:adzz6olpfm.database.windows.net,1433;Initial Catalog=IdentifiersApi2_db;User ID=marco.bfv@adzz6olpfm;Password=cjt86501603" Name="Data Source=tcp:adzz6olpfm.database.windows.net,1433;Initial Catalog=IdentifiersApi2_db;User Id=marco.bfv@adzz6olpfm;Password=cjt86501603" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="IdentifiersApi2.Models.IdentifiersContext, IdentifiersApi2" MigrationConfiguration="IdentifiersApi2.Migrations.Configuration, IdentifiersApi2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)IdentifiersDB-Web.config Connection String">
      <ParameterValue>Data Source=tcp:adzz6olpfm.database.windows.net,1433;Initial Catalog=IdentifiersApi2_db;User Id=marco.bfv@adzz6olpfm;Password=cjt86501603</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>